* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  align-self: center;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.score-bar {
  display: flex;
  flex-direction: column-reverse;
  border: 3px solid black;
  border-radius: 6px;
  height: 250px;
  width: 60px;
  margin: 30px;
}

.score-bar > .point {
  height: 20%;
  width: auto;
  background-color: rgb(133, 214, 133);
  animation: point-load 300ms;
}

.score-bar > .point:not(:nth-child(5)) {
  border-top: 2px solid black;
}

@keyframes point-load {
  0% {
    border-bottom: 2px solid black;
    transform: translateY(-20%);
  }
  25% {
    border-bottom: 2px solid black;
    transform: translateY(0);
  }
  75% {
    border-bottom: 2px solid black;
    transform: translateY(-8%);
  }
  100% {
    transform: translateY(0);
    border-bottom: none;
  }
}

.score-text {
  text-align: center;
}

.game button {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  border-radius: 75px;
  margin: 30px;
  font-size: 80px;
}

.game button:hover {
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.game button:active {
  transform: scale(95%);
}

.game .disabled {
  pointer-events: none;
  border-color: rgb(192, 192, 192);
}

.choice-display {
  height: 20%;
  font-size: 60px;
}

.choice-display span {
  font-size: 120px;
}

#reset {
  align-self: center;
  margin-bottom: auto;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 12px;
}

footer {
  font-size: 14px;
}
